- if @student_classroomwork && @student_classroomwork.png
  css:
    .hresult {
      position: absolute;
      width: 129px;
      height: 144px;
      background: url(/assets/#{@student_homework.png}.png) no-repeat;
      margin-top: -40px;
    }
  javascript:
    $(".hresult").css({"margin-left": $(".title").width() + 30})

