
#draw |画线
#text_input 输入文字
= text_area_tag :text, 'test text', id: "text"

#save  保存到本地
#load  本地加载
#clear  清楚笔画
#remove  移除

canvas#canvas width="800" height="300"

= javascript_include_tag 'board'
