#board
  css:
    .bbtn {border: 1px solid black;z-index: 10000;}
    .bbtn {padding: 2px 5px;margin: 5px;cursor: pointer;}
  - if current_user.is_student?

    .inline.bbtn id='draw#{hid}' 画线
    .inline.bbtn id='text_input#{hid}' 插入文字
    .inline.bbtn id='clear#{hid}'  清除笔画
    .inline.bbtn id='remove#{hid}'  移除元件
  
  canvas.canvas id='#{hid}c' width="780" height="300"

javascript:
  var canvas_#{hid} = new fabric.Canvas('#{hid}c');
    
  jQuery(document).ready( function() {
      canvas_#{hid}.loadFromJSON('#{get_canvas_text(hid)}', canvas_#{hid}.renderAll.bind(canvas_#{hid}));
      $("#text_input#{hid}").click(function(){
          $('##{hid}board_input').toggle();
          if ($('##{hid}board_input').css("display") == 'none') {
             init_c()
          }
      });
      function init_c(){
          canvas_#{hid}.isDrawingMode = false;
          canvas_#{hid}.observe('mouse:down', function(e) {
              // $('##{hid}board_input').hide();
              var mouse_pos = canvas_#{hid}.getPointer(e.e);
              console.info(mouse_pos.x, mouse_pos.y)
              canvas_#{hid}.add(new fabric.Text($('##{hid}board_input').val(), {
                  fontFamily: 'Arial',
                  fontSize: 16,
                  left: 350,
                  top: 100, 
                  textAlign: "left",
                  fontWeight: 'bold'
              }));
              canvas_#{hid}.off('mouse:down');
              canvas_#{hid}.renderAll();
              canvas_#{hid}.calcOffset();
           });
    };
    $("#draw#{hid}").click(function(){
        canvas_#{hid}.isDrawingMode = true;
        canvas_#{hid}.freeDrawingLineWidth = 5;
        canvas_#{hid}.renderAll();
        canvas_#{hid}.calcOffset();
    });
  
    $("#clear#{hid}").click(function(){
        canvas_#{hid}.isDrawingMode = false;
        canvas_#{hid}.clear();
    });
    
    $("#remove#{hid}").click(function(){
        canvas_#{hid}.isDrawingMode = false;
        var activeObject = canvas_#{hid}.getActiveObject(),
        activeGroup = canvas_#{hid}.getActiveGroup();
        if (activeObject) {
           canvas_#{hid}.remove(activeObject);
        }
        else if (activeGroup) {
           var objectsInGroup = activeGroup.getObjects();
           canvas_#{hid}.discardActiveGroup();
           objectsInGroup.forEach(function(object) {
           canvas_#{hid}.remove(object);
           });
        }
    
    });
    
  });
  
  canvas_#{hid}.calcOffset();
  
  document.onkeyup = function(e) {
    canvas_#{hid}.renderAll();
  };
  
  setTimeout(function() {
    canvas_#{hid}.calcOffset();
  }, 100);

