@import variables
@import compass/css3

.btn, input[type=submit]
  @include btn(28px, rgb(179, 221, 108), 1px)
  padding: 3px
  width: 170px
  display: inline-block

body
  background: rgb(253,243,240)

header
  display: none
  height: $header-height
  background: rgb(253,243,240)
  .h-left, h1, .h-right
    float: left
    display: inline-block
    height: 100%
  .h-left
    background: ''
  h1
    width: 60%
    text-align: center
    font-weight: bold
    margin: 15px 0 -15px 0
  .h-right:
    background: ''
  .h-left, .h-right
    width: 20%
    margin: 20px 0 -20px 0
    text-align: center
    font-size: $font-size-large
  a
    margin: 0 0 0 10px
.course-toggle-title
  cursor: pointer 
 
#content
  padding-top: 77px
  .left, .right
    float: left
  .left
    width: $left-width 
    height: $body-height - $header-height
    background: rgb(0,255,204)
    text-align: center
    .course-title, .course-toggle-title
      background: rgb(0,204,153)
      padding: 10px 0
    .courses
      padding: 20px 0
      background: rgb(51,255,153)
      height: 50%
      overflow-y: scroll
  .right
    padding: 20px
    width: $body-width - $left-width - 40px
    .bar, .bar .words
      display: inline
      line-height: 50px
      .words
        &.white
          background: white
        padding: 10px 15px
        margin: 2px
        background: $main-color
  .list
    width: $list-width
  .list-big
    width: $big-list-width
  .lessons
    width: 0.7 * $body-width  
    .lesson
      @include block
      padding: 12px 16px
  .notice-bar
    height: 50px
    border-bottom: 2px #000 solid
    margin: 20px 0
    // width: 100%
    width: 700px

  table.list, table.list-big
    tr
      td
        padding: 4px 5px
        border: 1px #999 solid
        &.long
          width: 0.7 * $list-width
        &.actions
          width: 100px
          text-align: center
  .enjoin
    padding: 30px
  .status
    font-size: $font-size-big
    border-bottom: 2px black solid
    clear: both
  .student
    @include block
    padding: 2px 6px
    margin: 8px

.messages
  margin: 50px
  font-size: $font-size-large
  table
    width: 650px

.con
  padding-top: 105px
.areas
  width: $main-width
  margin: 24px 21px
  position: absolute
  .area
    @include area
    margin: 0 0 28px 25px
    a
      color: white
  .fenhong
    background: rgb(250,175,154)
  .caolv
    background: rgb(113,202,94)
  .tianlan
    background: rgb(140,225,255)
  .huanglv
    background: rgb(184,210,1)
  .zilan
    background: rgb(113,137,223)
  .hong
    background: rgb(226,36,62)
  .fenlan
    background: rgb(36,200,210)
  .fen
    background: rgb(231,151,220)
  .zi
    background: rgb(104,69,153)

.exit
  float: right
  margin: -13px 23px
  font-size: 24px
  color: black

.body-bg
  background: url('/assets/student-bg0.png')
  // background-size: 1440px 900px
  //margin-top: -76px

.avatar
  position: absolute
  margin: -47px 0 0 0

.welcome
  margin-left: 15px
  display: inline-block
  width: 100px
  font-size: 24px
  color: white
  span.name
    display: block
    font-size: 34px

.lists
  .back, .title
    padding: 5px 38px 21px 38px
    background: white
    border: 1px #26dec6 solid
    color: #26dec6
    font-weight: bold
  .back
    float: right
    cursor: pointer
    height: 25px
    font-size: 24px
    margin-top: 3px
  .title
    height: 31px
    font-size: 30px
    float: left
  .descs
    clear: both
    margin: 54px 0 0 45px
    float: left
    width: 834px
    .desc 
      padding: 30px 52px
      font-size: 24px
      color: #848484
      font-weight: bold
      background: white
      border-bottom: 1px #999 solid




