@import variables

header
  height: $header-height
  background: $main-color
  .h-left, h1, .h-right
    float: left
    display: inline-block
    height: 100%
  .h-left
    background: ''
  h1
    width: 60%
    text-align: center
    font-weight: bold
    margin: 15px 0 -15px 0
  .h-right:
    background: ''
  .h-left, .h-right
    width: 20%
    margin: 20px 0 -20px 0
    text-align: center
    font-size: $font-size-large

#content
  .left, .right
    float: left
  .left
    width: 212px
    height: $body-height - $header-height
    background: rgb(0,255,204)
    text-align: center
    .course-title, .course-toggle-title
      background: rgb(0,204,153)
      padding: 10px 0
    .courses
      padding: 20px 0
      background: rgb(51,255,153)
      height: 50%
      overflow-y: scroll
  .right
    padding: 20px
    .bar, .bar .words
      display: inline
      line-height: 50px
      .words
        &.white
          background: white
        padding: 10px 15px
        margin: 2px
        background: $main-color
  .list
    width: $list-width
  .list-big
    width: $big-list-width
  table.list, table.list-big
    tr
      td
        padding: 4px 5px
        border: 1px #999 solid
        &.long
          width: 0.7 * $list-width
        &.actions
          width: 100px
          text-align: center
