@import variables

body
  width: 1024px
  height: 768px
  margin: 0 auto
  background-size: 1024px 768px

.btn, input[type='submit']
  padding: 4px 6px
  font-size: $font-size
a
  text-decoration: inherit

.btns
  .big-btn
    padding: 4px 6px
    background: $main-color
    font-size: $font-size-large
    text-align: center
    width: 100px

.select-div
  border: 1px #999 solid
  width: 150px
  float: left
  margin: 20px
  .words
    padding: 10px 20px
    &:hover, &.hover
      background: black
      color: white

.block
  display: block
  clear: both