@import variables

#header
  height: 115px
  // background: $main-color
  background: rgb(0,230,202)

#middle
  height: 526px
  background: url('login-bg.jpg')
  .content
    margin: 0 auto
    width: $main-width

h2
  text-align: center

#login-form
  text-align: center
  height: 302px
  width: 410px
  float: right
  margin: 16px 0
  table
    margin: 0 auto
