@import variables
@import "compass/css3"

$login-height: 526px

body
  background: rgb(246,246,246)

#header
  height: 115px
  // background: $main-color
  background: rgb(0,230,202)

.sessions, .registrations, .users
  height: $login-height
  z-index: 0
  // margin: 0 0 0 -400px

.sessions, .users
  background: url('login-bg0.jpg') no-repeat
  width: 1460px
  margin: 0 auto

.registrations
  background: url('register-bg.jpg') no-repeat
  // width: 2000px
  background-size: 110% 100%
  margin: 0 0 0 -400px

.content
  margin: 0 auto
  margin-top: -$login-height
  z-index: 1
  width: $main-width
  height: $login-height - 40px

#sections
  margin: 0 auto
  width: $main-width
  height: 250px
  .section
    height: 212px - 27px
    width: 210px - 64px
    margin-left: 10px
    background: white
    // @include border-radius(5px)
    border-radius: 2px
    border: 1px #eee solid
    font-size: $font-size-small
    padding: 10px 32px 17px 32px
    float: left
    img
      height: 68px
      width: 72px
      float: right
      margin: -68px -10px -10px 0
    .title
      width: 100px
      display: inline-block
      margin: 30px 0 20px 0
    .words
      height: 100px
      line-height: 20px
    .link
      float: right
      a
        color: $red

h2
  text-align: center

.btns
  a
    span
      display: block

#forget-form
  text-align: center
  width: 475px
  height: 738px - 128px
  padding-top: 128px
  margin: -595px auto
  background: url($forget-password-box)
  table
    margin: 30px 0 0 35px
    td
      .inline
        margin: 15px 0 0 0
        #auth_code
          margin: 0
        // .send-code, #auth_code
        //   display: inline-block
        .send-code
          display: block
          float: right
          // margin: -70px 0
          color: $input-font-color
          width: 188px
          padding-top: 22px
          height: 48px
          font-size: 26px
          @include border-radius(2px)
          border: 1px solid #ddd
          background: white
          cursor: pointer
    input[type=text], input[type=password]
      @include input(26px)
      width: 386px
      height: 74px
      margin: 15px 0 0 0
      &#auth_code
        width: 186px
        height: 69px
        float: left
  .btns
    margin: 52px 0 0 35px
  .btn-login
    @include btn(36px)
    height: 78px
    width: 405px
    span
      margin: 10px 0 0 0 
  .btn-login:hover
    background: $main-color-hover

#login-form
  text-align: center
  width: 302px
  height: 480px - 128px
  padding-top: 128px
  margin: -35px 0 0 0
  float: right
  background: url($login-box)
  table
    margin: 0 0 0 26px
    input
      @include input
      width: 228px
      height: 46px
  .btns
    margin: 41px 0 0 30px
    a 
      &.btn-login
        width: 240px
        height: 48px
  .btn-login
    @include btn
    height: 50px
    width: 242px
    span
      margin: 10px 0 0 0 
  .btn-login:hover
    background: $main-color-hover

#register-form
  text-align: center
  height: 1300px
  padding-top: 128px
  width: 695px
  margin: -640px auto
  background: url("register-box.png") no-repeat
  table
    color: $input-font-color
    margin: 60px 0 0 60px
    td
      .inline
        margin: 44px 0 0 0
        #auth_code
          margin: 0
        // .send-code, #auth_code
        //   display: inline-block
        .send-code
          display: block
          float: right
          // margin: -70px 0
          color: $input-font-color
          width: 188px
          padding-top: 22px
          height: 48px
          font-size: 26px
          @include border-radius(2px)
          border: 1px solid #ddd
          background: white
          cursor: pointer
      .genders
        height: 65px
        font-size: 26px
        padding-top: 30px
        .male
          margin-right: 46px
        input
          margin-right: 5px
    input[type=text], input[type=password]
      @include input(26px)
      &#auth_code
        width: 344px
        float: left
      width: 546px
      height: 65px
      margin: 44px 0 0 0
  .btns
    margin: 44px 0 0 70px
  .btn-login
    @include btn(36px)
    height: 70px
    width: 554px
    span
      margin: 10px 0 0 0 
  .btn-login:hover
    background: $main-color-hover
.forget-pass
  display: block
  float: right
  margin: 10px 10px 0 0
  color: red
