
@import compass/css3
$header-height: 76px
$body-width: 1024px
$main-width: 960px
$left-width: 212px
$body-height: 768px
$list-width: 400px
$big-list-width: $body-width * 0.7

$font-size-small: 12px
$font-size: 14px
$font-size-big: 20px
$font-size-large: 22px

$main-color: rgb(38,222,198)
$main-color-hover: rgb(147,229,218)
$red: #e62526
$blue: #26dec6
$input-font-color: #898989

$login-box: 'login-box.png'
$register-box: 'register-box.png'

@mixin block($color: $main-color, $margin: 20px)
  text-align: center
  width: 65px
  line-height: 40px
  margin: $margin
  background: $color
  display: inline-block
  // float: left

@mixin btn($fsize: $font-size-large, $bcolor: $main-color, $bradius: 5px)
  color: white
  vertical-align: middle
  text-align: center
  font-size: $fsize
  border: 1px #ccc solid
  background: $bcolor
  display: block
  @include border-radius($bradius)

@mixin input($fsize: $font-size-big, $color: rgb(38,32,28), $bradius: 2px)
  color: $color
  font-size: $fsize
  padding: 2px 10px
  vertical-align: middle
  border: none
  background: white
  display: block
  @include box-shadow(0 3px 3px #ccc inset)
  @include border-radius($bradius)

@mixin area($bcolor: rgb(38,32,28), $fsize: 24px)
  text-align: center
  font-size: $fsize
  width: 274px
  height: 155px
  color: white
  // padding: 65px 0
  float: left
  @include box-shadow(0 3px 3px $bcolor)






